######################################
### For all curious; <ô>_<ô>       ###
### I coded that with a macbook    ###
### With:                          ###
### python -m venv                 ###
### and:                           ###
### . bin/activate                 ###
### Greetz                         ###
######################################
#------------------------------------#
  #--azertyuiop------------------------#
    #--qsdfghjklm -----------------------#
      #--wxcvbn----------------------------#
      
*.DS_Store
bin
include
lib
pyvenv.cfg
pip-selfcheck.json
